# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [1]:
import os
import glob
import psycopg2
import pandas as pd
import numpy as np
from sql_queries import *

In [2]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [3]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("./data/song_data")

In [5]:
filepath = song_files[0]

In [6]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR8IEZO1187B99055E,NaN,,NaN,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [8]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0].tolist()
song_data

['SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, 149.86404]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [8]:
cur.execute(song_table_insert, song_data)
conn.commit()

IndexError: list index out of range

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [9]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [10]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

IndexError: list index out of range

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [4]:
log_files = get_files("./data/log_data")

In [5]:
filepath = log_files[0]

In [6]:
df = pd.read_json(filepath, lines=True)
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [7]:
df = df[df["page"] == 'NextSong']
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [9]:
t = df["ts"].astype('datetime64[ms]').drop_duplicates()
t.head()

0   2018-11-29 00:00:57.796
1   2018-11-29 00:01:30.796
2   2018-11-29 00:04:01.796
3   2018-11-29 00:04:55.796
4   2018-11-29 00:07:13.796
Name: ts, dtype: datetime64[ns]

In [8]:
time_data = list(zip(t, t.dt.hour,  t.dt.day,  t.dt.weekofyear,  t.dt.month,  t.dt.year,  t.dt.weekday))
column_labels = ("start_time", "hour", "day", "week", "month", "year", "weekday")

NameError: name 't' is not defined

In [17]:
time_df = pd.DataFrame(time_data, columns=column_labels)
time_df.head()

0     2018-11-29 00:00:57.796
1     2018-11-29 00:01:30.796
2     2018-11-29 00:04:01.796
3     2018-11-29 00:04:55.796
4     2018-11-29 00:07:13.796
5     2018-11-29 00:10:56.796
6     2018-11-29 00:11:04.796
7     2018-11-29 00:14:10.796
8     2018-11-29 00:16:02.796
9     2018-11-29 00:18:11.796
10    2018-11-29 00:22:13.796
11    2018-11-29 00:26:15.796
12    2018-11-29 00:30:53.796
13    2018-11-29 00:35:07.796
14    2018-11-29 00:40:14.796
15    2018-11-29 00:44:13.796
16    2018-11-29 00:46:34.796
17    2018-11-29 00:49:48.796
18    2018-11-29 00:57:10.796
19    2018-11-29 01:02:12.796
20    2018-11-29 01:06:36.796
21    2018-11-29 01:09:23.796
22    2018-11-29 01:09:58.796
23    2018-11-29 01:13:57.796
24    2018-11-29 01:17:34.796
25    2018-11-29 01:22:13.796
26    2018-11-29 01:26:18.796
27    2018-11-29 01:31:13.796
28    2018-11-29 01:33:38.796
29    2018-11-29 01:38:30.796
                ...
333   2018-11-29 21:30:47.796
334   2018-11-29 21:31:34.796
336   2018-11-29 21:34:25.796
337   2018-11-29 21:34:28.796
338   2018-11-29 21:38:08.796
339   2018-11-29 21:42:10.796
340   2018-11-29 21:46:49.796
341   2018-11-29 21:52:57.796
342   2018-11-29 21:57:16.796
343   2018-11-29 22:00:31.796
344   2018-11-29 22:06:36.796
345   2018-11-29 22:09:57.796
346   2018-11-29 22:10:17.796
347   2018-11-29 22:13:15.796
348   2018-11-29 22:13:38.796
349   2018-11-29 22:17:38.796
350   2018-11-29 22:21:31.796
352   2018-11-29 22:27:31.796
353   2018-11-29 22:32:49.796
354   2018-11-29 22:35:44.796
355   2018-11-29 22:39:38.796
356   2018-11-29 22:42:52.796
357   2018-11-29 22:46:23.796
358   2018-11-29 22:50:27.796
359   2018-11-29 22:51:18.796
360   2018-11-29 22:53:32.796
362   2018-11-29 22:57:22.796
363   2018-11-29 23:02:05.796
364   2018-11-29 23:05:13.796
365   2018-11-29 23:18:35.796
Name: ts, Length: 319, dtype: datetime64[ns]

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [18]:
for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [11]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [23]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

IndexError: index out of bounds

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [8]:
for index, row in df.iterrows():
    print(row.song)
    print(row.artist, row.length)
    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()

    if results:
        print(1)
        print(results)
        songid, artistid = results
    else:
        print(0)
        songid, artistid = None, None

    # insert songplay record
    #songplay_data = (row.ts.astype('datetime64[ms]'), row.userId, row.level, songid, artistid, row.sessionId, row.location, row.userAgent)
    #cur.execute(songplay_table_insert, songplay_data)
    #conn.commit()

Ain't No Sunshine
Sydney Youngblood 238.07955
0
My Advice 2 You (Explicit)
Gang Starr 151.92771
0
My First Kiss (Feat. Ke$ha) [Album Version]
3OH!3 192.522
0
The Girl and The Robot
RÃÂ¶yksopp 369.81506
0
Too Shy
Kajagoogoo 223.55546
0
Potential
The Jimmy Castor Bunch 306.54649
0
The Great Satan (What Would Satan Do Mix)
Ministry 186.69669
0
The Screamer
Bouncing Souls 117.31546
0
Knife Going In (Album Version)
Tegan And Sara 129.67138
0
The Greatest View (Album Version)
Silverchair 242.96444
0
T.N.T. For The Brain (112 Bpm) (Radio Edit)
Enigma 242.78159
0
Mon MÃÂ©tro
Anis 278.12526
0
Fly Like An Eagle
Seal 254.06649
0
Restless
UNKLE Feat. Josh Homme 307.19955
0
You're The One
Dwight Yoakam 239.3073
0
Blue
Elastica 141.92281
0
Channel 10
Capone-N-Noreaga 194.82077
0
The Oak Tree (Album Version)
Morris Day 442.46159
0
What If I Do?
Foo Fighters 302.91546
0
You're Not Alone
Olive 264.12363
0
En Glad Calypso Om VÃÂ¥ren (Live '62)
Olle Adolphson 202.39628
0
Down_ Down_ Down To Mehphisto's Cafe (Album Version)
Streetlight Manifesto 303.33342
0
Tu Eres Ajena
Frank Reyes 239.67302
0
Estadio Azteca
Andres Calamaro 217.5473
0
Sleeper
Zero 7 279.562
0
Toxic
Mark Ronson featuring Tiggers 245.18485
0
Merry Go Round (Remastered Single Version)
Keith Sweat 295.78404
0
Square Peg Round Hole
Wakey!Wakey! 145.03138
0
Eqypt
The Mercury Program 292.362
0
Make Her Say
Kid Cudi / Kanye West / Common 237.76608
0
Nice Day For A Resurrection
Nekromantix 263.10485
0
Sinisten tÃÂ¤htien alla
J. Karjalainen & Mustat Lasit 336.74404
0
Wade Through The Night
Matt Wertz 171.17995
0
My Axe
Insane Clown Posse 233.82159
0
It's Only Money
Thin Lizzy 214.59546
0
Untrust us
Crystal Castles 186.38322
0
Full Throttle
The Prodigy 302.602
0
Make Her Say
Kid Cudi / Kanye West / Common 237.76608
0
Crazy In The Night (Barking At Airplanes)
Kim Carnes 217.28608
0
White Light/White Heat
The Velvet Underground 165.95546
0
I Cried For You
Katie Melua 218.09587
0
Chicken Hawk
Cedell Davis 178.36363
0
Breathe In
Frou Frou 277.34159
0
What Goes Around...Comes Around
Justin Timberlake 313.0771
0
Moondance (Album Version)
Michael BublÃÂ© 253.88363
0
Make Love To Your Mind
Bill Withers 383.73832
0
Feel The Love
Cut Copy 267.54567
0
s.Ada.Licht
School Of Seven Bells 176.97914
0
The Boss
Rick Ross / T-Pain 225.69751
0
Turnin Me On
Keri Hilson / Lil Wayne 247.77098
0
Risque (Album Version)
Cute Is What We Aim For 222.22322
0
La Guitarra
Los AutÃÂ©nticos Decadentes 218.48771
0
If I Were A Carpenter
June Carter Cash;Johnny Cash 180.21832
0
But The NUNS Are Watching
I Set My Friends On Fire 206.39302
0
Starvo
King Cobb Steelie 373.7073
0
Sorrow (1997 Digital Remaster)
David Bowie 174.41914
0
Won't Do
J Dilla 232.46322
0
In Cairo
Hot Hot Heat 295.02649
0
We Rock
Norther 236.85179
0
Nothing Better (Album)
Postal Service 226.61179
0
Something Out Of Nothing
311 264.56771
0
When You Look Me In The Eyes
Jonas Brothers 249.67791
0
Cantalojas
Platero Y Tu 368.29995
0
In My Daughter's Eyes
Martina McBride 193.802
0
Smoke
Ben Folds Five 292.23138
0
So far so long
Seine 173.66159
0
What A Shame (Album Version)
Shinedown 258.97751
0
Vanity Case (nouvelle version)
Iva 205.322
0
Hammerhead (Explicit)
Cathy Davey 273.52771
0
Hekura
Jorge Reyes Valencia 127.81669
0
Candle
Sonic Youth 299.10159
0
Slow Dancing In A Burning Room
John Mayer 241.99791
0
Geek In The Pink (Album Version)
Jason Mraz 235.49342
0
Technologic
Daft Punk 283.19302
0
Again
Flyleaf 184.89424
0
Carol Brown
Flight Of The Conchords 206.8371
0
Invalid
Tub Ring 233.69098
0
Daylight
Aesop Rock 266.16118
0
Undercover Martyn
Two Door Cinema Club 168.09751
0
Clear Channel (Fuck Off!)
Leftover Crack 254.98077
0
They Might Follow You
Tiny Vipers 210.23302
0
The Climb
Miley Cyrus 236.85179
0
Who Can Compare
Foolish Things 266.86649
0
Somebody To Love
Justin Bieber 220.89098
0
Tiempo
Jarabe De Palo 283.14077
0
Happy Alone
Kings Of Leon 238.8371
0
I Smell A Rat (LP Version)
Clarence Carter 161.4624
0
Kryptonite (Radio Edit) (feat. Big Boi)
Purple Ribbon All-Stars feat. Big Boi 242.83383
0
Old Blue Jeans
Hannah Montana 202.03057
0
Replay
Iyaz 181.9424
0
Aquamosh
Plastilina Mosh 236.56444
0
Be (Intro)
Common 144.16934
0
I May Never Find
Chris Brown 275.1473
0
Runaway (Original)
iio 217.80853
0
Eric B. Is On The Cut
Eric B. & Rakim 224.23465
0
A Woman's Love   (LP Version)
Carla Thomas 174.62812
0
Falling in Hate
Five Finger Death Punch 180.32281
0
Desert Rose
Sting 285.93587
0
If I Cut My Hair_ Hawaii Will Sink (Album Version)
Chiodos 143.20281
0
I Wonder Why
Dion & The Belmonts 138.65751
0
Prayin For Help (Amended Album Version)
T.I. 261.98159
0
Sinister Kid
The Black Keys 224.49587
0
Flume
Bon Iver 218.98404
0
All The Right Moves
OneRepublic 237.97506
0
Word Up
Cameo 263.52281
0
Auditorium
Mos Def / Slick Rick 274.442
0
Hallowed Be My Name
HAMMERFALL 236.01587
0
I Am The Club (Explicit Album Version)
Plies 223.65995
0
Hearts Break
Slaid Cleaves 198.76526
0
Sugar Ray (LP Version)
Todd Barry 126.82404
0
The Way I Loved You
Taylor Swift 245.36771
0
Inside My Love
Minnie Riperton 287.79057
0
Comet Course
Flying Lotus 181.52444
0
Can't Take My Eyes Off You
Muse 211.12118
0
Elsewhere
Edenbridge 137.69098
0
Hong Kong Blues
Frank Ifield 138.23955
0
You're The One
Dwight Yoakam 239.3073
0
Threat
Jay-Z 245.68118
0
The Gift
Angels and Airwaves 302.05342
0
Idle Hands (Album Version)
Stone Sour 236.77342
0
You're The One
Dwight Yoakam 239.3073
0
Wishing Well
The Airborne Toxic Event 237.13914
0
Here Without You
3 Doors Down 237.13914
0
Dry Spell
Hazmat Modine 285.02159
0
Secrets
OneRepublic 224.67873
0
Fuck and Run
Liz Phair 187.34975
0
Far Away (Album Version)
Nickelback 238.18404
0
Girl I Love You
Massive Attack 326.60853
0
Beat Goes On [Featuring Kanye West] (Album Version)
Madonna 266.89261
0
Don't Walk Away
Sick Puppies 227.83955
0
Bone Machine
Pixies 184.2673
0
Mi Marfil
Andres Calamaro 65.88036
0
None Shall Pass (Main)
Aesop Rock 245.65506
0
With You
The Subways 182.17751
0
To Go Beyond (II)
Enya 179.90485
0
Glitter In The Air
P!nk 227.02975
0
Heartbeats
JosÃÂ© Gonzalez 158.48444
0
Better Is One Day (Stereo Trax)
Passion 405.10649
0
Two Shoes
The Cat Empire 316.65587
0
Someday
Mariah Carey 246.09914
0
Interactive Halloween Bear
Restiform Bodies 229.14567
0
Better Off Alone
Alice Deejay 216.5024
0
Next Evil
Interpol 200.202
0
OMG
Usher featuring will.i.am 395.72853
0
Fighters (feat. Matthew Santos) (Amended Album Version)
Lupe Fiasco feat. Matthew Santos 213.34159
0
La Guitarra
Los AutÃÂ©nticos Decadentes 218.48771
0
At Least It's Raining
Brand New Disaster 190.82404
0
Breaking Inside (Album Version)
Shinedown 229.43302
0
The Moon Asked The Crow
Cocorosie 232.17587
0
Pais E Filhos
LegiÃÂ£o Urbana 307.3824
0
Word Up!
Cameo 211.98322
0
Dreamer
Atmosphere 244.61016
0
Born Losers
Matthew Good 319.16363
0
January Wedding
The Avett Brothers 227.99628
0
I'm Sorry
James Newton Howard 141.5571
0
The Fear
Lily Allen 206.65424
0
Revelry
Kings Of Leon 201.79546
0
I Know You Got Soul
Eric B. & Rakim 281.86077
0
Hello
Eminem 248.2673
0
Stella The Artist
David Gray 217.33832
0
The Sweetest Taboo
Sade 278.46485
0
That's How You Like It
BeyoncÃÂ© feat. Jay-Z 219.19302
0
Hey Shorty (Yeah Yeah Pt. II) (Feat. U$O & Johnson)
Kato 195.47383
0
I'll Never Kill Again
Wise Intelligent 300.56444
0
Quiero Quererte Querer
El Arrebato 234.57914
0
Is This It
The Strokes 155.34975
0
I Get Money
50 Cent 223.89506
0
(There Was A) Tall Oak Tree
Dorsey Burnette 125.85751
0
Horse With No Name
America 262.89587
0
VÃÂ­cio De Ti
Mesa (Portuguese Group) 246.33424
0
Solo Creo Lo Que Veo
Alaska Y Dinarama 231.44444
0
Sehnsucht
Rammstein 244.40118
0
Woman Like A Man
Damien Rice 284.29016
0
Sequencer Mood 1
Vittorio Lue 33.802
0
Ooh
Scissor Sisters 209.34485
0
Overture
The Coffee Club Orchestra 386.76853
0
Save Tonight
Eagle-Eye Cherry 242.78159
0
Move On Up (Extended LP Version)
Curtis Mayfield 534.33424
0
Death Rides a Horse
Russian Circles 346.20036
0
Old Panda Days (w/ Nick Krgovich)
Casiotone For The Painfully Alone 139.41506
0
I CAN'T GET STARTED
Ron Carter 497.13587
0
No Remorse
Metallica 386.66404
0
Wot
Captain Sensible 338.72934
0
Blues (2005 Digital Remaster)
Renato Carosone 192.57424
0
Invalid
Tub Ring 233.69098
0
Harder Than You Know
Escape The Fate 259.39546
0
New Soul
Yael NaÃÂ¯m 214.85669
0
Weird Fishes/Arpeggi
Radiohead 317.93587
0
A Lack Of Color (Album Version)
Death Cab for Cutie 216.42404
0
Sooner Than You Think
New Order 313.62567
0
You're The One
Dwight Yoakam 239.3073
0
Love My Shake
Fukkk Offf 409.05098
0
Spit It Out [Explicit]
Slipknot 159.76444
0
Big Red
Slaves To Gravity 225.25342
0
Holy Roller Novocaine
Kings Of Leon 242.99057
0
Horn Concerto No. 4 in E flat K495: II. Romance (Andante cantabile)
Barry Tuckwell/Academy of St Martin-in-the-Fields/Sir Neville Marriner 277.15873
0
All My Friends
Amos Lee 259.26485
0
No Puedo Evitar (Pensar En Ti)
Duncan Dhu 202.91873
0
She Has A Girlfriend Now
Reel Big Fish 185.80853
0
Burning Creation
Amon Amarth 298.55302
0
Back To You
John Mayer 241.6322
0
Don't Turn Your Back On Fear
The 69 Eyes 224.78322
0
Ladybird
Ladytron 278.07302
0
Famous Blue Raincoat
Leonard Cohen 307.43465
0
Take It Easy (love Nothing) (Album Version)
Bright Eyes 200.72444
0
Live Forever [Fly With Me] [feat. Daryl Hall]
Gym Class Heroes 428.77342
0
Promise Me
Beverley Craven 219.34975
0
Ringing Bells
Masta Killa 195.70893
0
Droomland (duet met Paul de Leeuw)
Andre Hazes 206.70649
0
My Night With the Prostitute From Marseille
Beirut 185.15546
0
This Is Beautiful
Tyrone Wells 275.80036
0
Look What They Done To My Song_ Ma
Melanie 245.86404
0
The Middle
Jimmy Eat World 166.00771
0
Taja's Lude (Interlude)
Blackstreet 26.90567
0
Juramento
Omara Portuondo 202.86649
0
The News
Jack Johnson 146.25914
0
Love Me Like A River Does
Melody Gardot 245.83791
0
Fireflies
Charttraxx Karaoke 225.17506
0
Mighty Joe Moon
Grant Lee Buffalo 169.76934
0
Karma Police
Radiohead 261.45914
0
Love And Treachery
Madeleine Peyroux 258.71628
0
It's My Life
Bon Jovi 224.522
0
Country Road
James Taylor 338.80771
0
CanciÃÂ³n Triste
Jesse Cook 301.71383
0
Unknown Brother
The Black Keys 239.59465
0
Kid A
Radiohead 284.44689
0
Almaz
Randy Crawford 270.75873
0
Almaz
Randy Crawford 270.75873
0
Born In Africa
Dr. Alban 210.05016
0
What You Know
Two Door Cinema Club 189.67465
0
Head Full Of Doubt/Road Full Of Promise
The Avett Brothers 287.97342
0
Hot Pursuit
The Bravery 187.37587
0
Pussywillow
Greg Dulli 221.17832
0
Don't Cry (Original)
Guns N' Roses 284.05506
0
Kissing Behind The Rubbery Grinder
Major Organ And The Adding Machine 46.05342
0
Beyond The Beyond (Instrumental)
RJD2 237.53098
0
Yum Yum (Gimme Some)
Fatback 315.66322
0
Caixinha De MÃÂºsica Do JoÃÂ£o
Secos And Molhados 66.16771
0
Mr. Sad
Marc Almond 197.17179
0
A Lion's Heart
The Tallest Man On Earth 197.40689
0
Heaven Is A Truck
Pavement 149.83791
0
Stronger
Kanye West 311.92771
0
ClichÃÂ© Guevara
Against Me! 129.43628
0
Imperial (LP Amended Version)
Rah Digga 384.10404
0
Always and Forever
Pat Metheny Group 324.8322
0
Sehr kosmisch
Harmonia 655.77751
0
California Girls (Album Version)
David Lee Roth 171.83302
0
The Invisible Man
Michael Cretu 301.06077
0
Kaaos ei karkaa
Haloo Helsinki! 223.42485
0
MC Material
Chali 2na 176.8224
0
Faust Arp
Radiohead 129.56689
0
Droomland (duet met Paul de Leeuw)
Andre Hazes 206.70649
0
Savior
Rise Against 242.25914
0
Ostia
Sepultura 186.5922
0
Witness
Screaming Trees 218.30485
0
Crossfire
Spencer Davis Group 244.94975
0
Still
Lionel Richie 310.69995
0
So Far From The Truth
Skinlab 277.89016
0
Follow The Star
Larry Sparks 265.50812
0
You Dance
Eastmountainsouth 237.58322
0
Have A Nice Day
Bon Jovi 228.85832
0
La Boulette (GÃÂ©nÃÂ©ration Nan Nan)
Diam's 220.62975
0
Blackest Eyes (Album Version)
Porcupine Tree 263.60118
0
Once
Blackfield 311.82322
0
Kite
Kate Bush 177.05751
0
Walking With Thee
Clinic 156.21179
0
Darkshines [Live From Le Zenith]
Muse 277.31546
0
TÃÂº
Shakira 322.79465
0
Sebrina_ Paste And Plato
Jellyfish 143.17669
0
Bitter Sweet Symphony
The Verve 360.25424
0
Lissoms
Toro Y Moi 133.85098
0
Sample Track 2
Simon Harris 195.83955
0
Figure.09 (Album Version)
Linkin Park 197.51138
0
The Wonderful Cross
Michael W. Smith 381.88363
0
Teardrop
Underworld 329.53424
0
This Afternoon (Album Version)
Nickelback 274.65098
0
O Canto Da Ema
Jackson Do Pandeiro 157.51791
0
Heartbreak Warfare
John Mayer 269.71383
0
Waterfall
Triumvirat 294.81751
0
TAVALLINEN TARINA
Hausmylly 207.75138
0
Step To Me
Thousand Foot Krutch 180.58404
0
Only Time (Original Version)
Enya 218.53995
0
Still be Friends
Billie The Vision & The Dancers 136.46322
0
Non Saprai Mai
Claudio Minore 282.01751
0
Fireflies
Charttraxx Karaoke 225.17506
0
The Worst Taste In Music (Extended)
The Radio Dept. 193.72363
0
War on war
Wilco 227.65669
0
Despre tine
O-Zone 226.16771
0
Whataya Want From Me
Adam Lambert 227.39546
0
Red
Mission Of Burma 218.20036
0
Damaged [Feat. Fabolous]
Danity Kane 247.74485
0
Sulk
Radiohead 223.00689
0
The English Way
Fightstar 212.61016
0
To Be With You
Hoobastank 242.78159
0
Poison Oak (Album Version)
Bright Eyes 279.87546
0
Grand Hotel
Procol Harum 368.56118
0
Planet Telex
Radiohead 259.29098
0
SinceritÃÂ© Et Jalousie
Alliance Ethnik 195.94404
0
New Born
Muse 365.45261
0
5_ 6_ 7_ 8
Steps 201.76934
0
The Heart Of Life
John Mayer 198.19057
0
Revelry
Kings Of Leon 201.79546
0
Draw The Line
David Gray 263.33995
0
The Ugly One (AKA Lee Van Cleef)
King Stitt 176.27383
0
Invalid
Tub Ring 233.69098
0
Cathar Rhythm
Era 200.56771
0
The Queen of Nothing
+ / - {Plus/Minus} 318.98077
0
Good Time
Crystal Castles 175.51628
0
Figures
The Whitest Boy Alive 234.57914
0
Bone Broke
The White Stripes 194.48118
0
Are You The Walrus?
Furthermore 211.69587
0
Amityville
Eminem / Bizarre 244.55791
0
I'm Not Calling You A Liar
Florence + The Machine 185.3122
0
Signos
Soda Stereo 316.73424
0
You Belong With Me
Taylor Swift 230.47791
0
Rearviewmirror
Pearl Jam 283.89832
0
Me So Horny
The 2 Live Crew 188.31628
0
Loco
311 113.26649
0
Midnight Groovin' (7" Version) (2006 Digital Remaster)
Light Of The World 207.0722
0

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [22]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.